:root {
  --background: #f9f2e9;
  --color: #311f09;
  --white: #fff;
  --deep-white: #f5f5f5;
  --silver : #cccccc;
  --primary: #9f4f36;
  --deep-primary: #3e2121;
  --deep-primary-shadow: #27161641;
  --gap : 16px;
  --secondary: #724a1d;
  --secondary-transparent: #4a301290;
  --accent: #c3780f;
  --max-width: 100vmax;
  --max-height: 100vh;
  --width: 100%;
  --height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: inherit;
  min-height: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  pointer-events: none;
}

::selection {
  background: var(--primary);
  color: var(--white);
}